<div class="container">
  <div class="top-bar">
    <!-- Logo  -->
    <a href="/" class="logo">
      <img src="./assets/icon/logo.svg" alt="Grocery Mart" class="logo__img" />
      <p class="logo__title">grocerymart</p>
    </a>

    <!-- Navbar  -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__link">
          <a href="#!">Departments</a>
          <img
            src="./assets/icon/narrow-down.svg"
            alt=""
            class="icon navbar__narrow"
          />
        </li>
        <li class="navbar__link">
          <a href="#!">Grocery</a>
          <img
            src="./assets/icon/narrow-down.svg"
            alt=""
            class="icon navbar__narrow"
          />
        </li>
        <li class="navbar__link">
          <a href="#!">Beauty</a>
          <img
            src="./assets/icon/narrow-down.svg"
            alt=""
            class="icon navbar__narrow"
          />
        </li>
      </ul>
    </nav>

    <!-- Actions  -->
    <div class="top-act">
      <!-- Action group 1  -->
      <div class="top-act__group top-act__group--single">
        <!-- Search button  -->
        <button class="top-act__btn">
          <img
            src="./assets/icon/search.svg"
            alt="Search"
            class="icon top-act__icon"
          />
        </button>
      </div>

      <!-- Action Group 2  -->
      <div class="top-act__group">
        <!-- Wishlist button  -->
        <button class="top-act__btn">
          <img
            src="./assets/icon/wishlist.svg"
            alt="Wishlist"
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </button>

        <div class="top-act__separate"></div>

        <!-- Cart Button  -->
        <button class="top-act__btn">
          <img src="./assets/icon/cart.svg" alt="" class="icon top-act__icon" />
          <span class="top-act__title">$65.42</span>
        </button>
      </div>

      <!-- User Avatar  -->
      <div class="top-act__user">
        <img
          src="./assets/img/uifaces-human-avatar.jpg"
          alt="User Avatar"
          class="top-act__avatar"
        />
      </div>
    </div>
  </div>
</div>
