@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(24%)
    saturate(1214%) hue-rotate(210deg) brightness(97%) contrast(100%);

  --body-bg-color: #f6f6f6;
  --header-bg-color: #eee;
  --footer-bg-color: var(--header-bg-color);

  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  //Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  //Category Item
  --cate-item-bg: #eee;
  --cate-thumb-bg: #fff;
  --item-text-color: #000;

  // Filter button
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;

  //Filter Form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);

  //Filter Tag
  --filter-form-tag-bg: #f8f8fb;
  --filter-form-tag-text-color: #9e9da8;

  //Like Button
  --like-btn-bg: #fff;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);

  //Product Card
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  //Authentication
  --auth-intro-bg: #fafafd;
  --auth-content-bg: #fff;
  --auth-heading-color: #1a162e;
  --auth-desc-color: #9e9da8;
  --auth-intro-text-color: #1a162e;

  //Form
  --text-input-border-color: #d2d1d6;
  --form-placeholder-color: #d2d1d6;

  // Product Detail
  --product-detail-bg: #fff;

  //Breadcrumb
  --breadcrumb-bg: #f6f6f6;
  --breadcrumb-shadow: rgba(237, 237, 246, 0.2);

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
    --auth-intro-bg: #fff;
  }
}
