@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(24%)
    saturate(1214%) hue-rotate(210deg) brightness(97%) contrast(100%);

  --body-bg-color: #f6f6f6;
  --header-bg-color: #eee;
  --footer-bg-color: var(--header-bg-color);

  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  //Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  //Category Item
  --cate-item-bg: #eee;
  --cate-thumb-bg: #fff;
  --item-text-color: #000;

  // Filter button
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;

  //Filter Form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);

  //Filter Tag
  --filter-form-tag-bg: #f8f8fb;
  --filter-form-tag-text-color: #9e9da8;

  //Like Button
  --like-btn-bg: #fff;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);

  //Product Card
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  //Authentication
  --auth-intro-bg: #fafafd;
  --auth-content-bg: #fff;
  --auth-heading-color: #1a162e;
  --auth-desc-color: #9e9da8;
  --auth-intro-text-color: #1a162e;

  //Form
  --text-input-border-color: #d2d1d6;
  --form-placeholder-color: #d2d1d6;
  --search-bar-bg: #fff;

  --form-select-dialog-shadow: rgba($color: #000000, $alpha: 0.15);
  --form-select-dialog-bg: #fff;
  --form-option-hover-bg: #ebebeb;

  // Product Detail
  --product-detail-bg: #fff;
  --prod-prop-form__tag-bg: #ededf6;
  --product-container-bg: #fff;
  --prod-prop-heading-color: #1a162e;

  // Review
  --review-card-bg: #fafafd;

  //Breadcrumb
  --breadcrumb-bg: #f6f6f6;
  --breadcrumb-shadow: rgba(237, 237, 246, 0.2);

  // Text Content
  --text-content-hr-bg: #ebebeb;

  // Action dropdown
  --act-dropdown-bg: #fff;
  --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
  --arrow-up: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(38%)
    hue-rotate(254deg) brightness(110%) contrast(110%);

  //Checkout Page
  --checkout-bg-color: #fff;
  --checkout-shadow: rgba(237, 237, 246, 0.2);
  --cart-item-input-text-color: #1a162e;
  --cart-item-input-border-color: #d2d1d6;
  --cart-item-input-icon-color: brightness(0) saturate(100%) invert(7%)
    sepia(67%) saturate(713%) hue-rotate(213deg) brightness(97%) contrast(95%);
  --cart-item-input-title-color: #1a162e;
  --gift-icon-bg: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    #7644e1;
  --address-cart-checkbox-icon: brightness(0) saturate(100%) invert(8%)
    sepia(6%) saturate(7490%) hue-rotate(213deg) brightness(99%) contrast(95%);
  --payment-item-bg: #f6f6f6;
  --payment-item-thumb-shadow: rgba(237, 237, 246, 0.2);

  //Profile
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(237, 237, 246, 0.2);
  --profile-user-avatar-border-color: rgba(255, 255, 255, 0.2);
  --new-card_border-color: #d2d1d6;
  --new-card-icon: brightness(0) saturate(100%) invert(0%) sepia(1%)
    saturate(1200%) hue-rotate(78deg) brightness(91%) contrast(97%);
  --new-card-shadow: rgba(232, 223, 223, 0.4) 0px 2px 4px,
    rgba(222, 202, 202, 0.3) 0px 7px 13px -3px,
    rgba(231, 222, 222, 0.2) 0px -3px 0px inset;
  --account-info-bg: #f6f6f6;
  --account-info-icon-bg: #fff;

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
    --auth-intro-bg: #fff;

    --product-detail-bg: #fafafd;
    --breadcrumb-bg: #fff;

    --review-card-bg: #fff;
  }
}
