@use "../abstracts";

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  z-index: 2;
  background-color: var(--header-bg-color);

  @include abstracts.screen(lg) {
    box-shadow: 0 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemsCenter;
  position: relative;
  z-index: 1;
  padding: 30px 0;

  @include abstracts.screen(lg) {
    padding: 20px 0;
  }

  @include abstracts.screen(md) {
    justify-content: space-between;
    padding: 16px 0;
  }

  &__logo {
    @include abstracts.screen(lg) {
      gap: 10px !important;
      margin-left: 40px;
      &-title {
        font-size: 1.8rem !important;
      }
      &-img {
        width: 24px;
      }

      @include abstracts.screen(lg) {
        margin-left: 15px;
      }
    }
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.screen(xl) {
    margin-left: 28px;
  }

  @include abstracts.screen(lg) {
    position: fixed;
    background-color: var(--sidebar-bg);

    padding: 10px 0;
    z-index: 9;
    inset: 0 50% 0 0;
    margin-left: 0;

    translate: -100%;
    box-shadow: none;
    transition: translate 0.5s;

    border-radius: 0 20px 20px 0;

    &.show {
      box-shadow: 0 40px 90px 20px var(--sidebar-shadow);
      translate: 0;
    }

    &.show ~ &__overplay {
      opacity: 1;
      visibility: visible;
    }
  }

  @include abstracts.screen(sm) {
    inset: 0 20% 0 0;
  }

  &__close-btn {
    display: none;
    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }

    @include abstracts.screen(sm) {
      padding: 0 20px 10px;
    }
  }

  &__overplay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.screen(lg) {
      background: rgba($color: #000000, $alpha: 0.4);
      z-index: 8;
      position: fixed;
      inset: 0;

      transition: opacity, visibility;
      transition-duration: 0.5s;
    }
  }

  &__list {
    @extend %flexItemsCenter;
    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;

      overscroll-behavior: contain;
      overflow-y: auto;
      height: calc(100% - 40px);
    }

    @include abstracts.screen(md) {
      height: calc(100% - 140px);
    }

    @include abstracts.screen(sm) {
      height: calc(100% - 124px);
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }
    @include abstracts.screen(lg) {
      width: 100%;

      &:hover .dropdown {
        display: none;
      }

      &--active .dropdown {
        display: block !important;
      }
    }
  }

  &__link {
    display: flex;
    gap: 6px;
    padding: 16px 15px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    @include abstracts.screen(lg) {
      padding: 10px 40px;
      font-size: 1.6rem;
      line-height: 150%;
      justify-content: space-between;
    }

    @include abstracts.screen(sm) {
      padding: 10px 20px;
    }

    a {
      @extend %flexItemsCenter;
    }
  }

  &__narrow {
    margin-top: 3px;

    @include abstracts.screen(lg) {
      rotate: -90deg;
      transition: rotate 0.3s;
    }
  }

  &__item--active &__narrow {
    rotate: 0deg;
  }
}

.top-act {
  @extend %flexItemsCenter;
  gap: 20px;
  margin-left: auto;

  @include abstracts.screen(md) {
    margin-left: 0;
    gap: 0;

    &__sign-up.btn,
    &__sign-in.btn {
      height: 40px;
      padding: 0 8px;
      font-size: 1.5rem;
    }
  }

  &__group {
    @extend %flexItemsCenter;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn-wrap {
    position: relative;

    &:hover .act-dropdown {
      display: block;
    }
  }

  &__btn {
    @extend %flexItemsCenter;
    padding: 20px;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.08);
  }
}

.nav-btn {
  height: 50px;

  padding: 0 40px;
  align-items: center;

  @include abstracts.screen(sm) {
    height: 44px;
    padding: 0 20px;
  }

  &__title {
    margin-left: 16px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%; /* 146.667% */
  }

  &__qnt {
    @extend .nav-btn__title;
    margin-left: auto;
  }
}

.act-dropdown {
  position: absolute;
  top: 48px;
  right: -60px;
  width: min(500px, 100vw);
  padding-top: 28px;
  display: none;

  &__inner {
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background: var(--act-dropdown-bg);
    box-shadow: 0 40px 90px 20px rvar(--act-dropdown-shadow);
  }

  &__arrow {
    position: absolute;
    height: 20.5px;
    right: 90px;
    top: -17px;
    filter: var(--arrow-up);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    color: var(--auth-heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__view-all {
    color: #0071dc;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 145.455%;
  }

  &__separate {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background: var(--top-menu-border-color);
  }

  &__bottom {
    margin: 20px 0;
    padding: 20px 0;
    border-width: 1px 0;
    border-color: var(--top-menu-border-color);
    border-style: solid;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__row + &__row {
    margin-top: 10px;
  }

  &__label,
  &__value {
    color: var(--auth-heading-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 145.455%;
  }

  &__row {
    &--bold {
      .act-dropdown__label,
      .act-dropdown__value {
        font-weight: 500;
      }
    }
  }

  &__checkout {
    display: flex;
    justify-content: flex-end;

    &-btn {
      min-width: 200px;
      height: 58px !important;
      font-size: 1.8rem !important;
      color: #000000;
      cursor: pointer;
    }
  }

  &__list {
    padding-bottom: 10px;
    flex-wrap: nowrap;
    // overflow-x: hidden;
    overflow-x: auto;
  }
}

.cart-preview-item {
  text-align: left;
  &__img-wrap {
    position: relative;
    padding-top: 100%;

    border: 1.5px solid var(--top-menu-border-color);
    border-radius: 10px;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 14px;
    color: var(--auth-intro-text-color);
    font-size: 1.4rem;
    line-height: 142.857%;
  }

  &__price {
    margin-top: 6px;
    color: var(--auth-intro-text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
}
