@use "../abstracts";

.account-info {
  width: 100%;
  border-radius: 10px;
  background: var(--account-info-bg);
  padding: 10px;

  display: flex;
  gap: 10px;

  &__icon-wrap {
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 8px;
    background: var(--account-info-icon-bg);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__heading {
    margin-top: 14px;
  }

  &__pb {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.favorite-item {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 20px;

  &__thumb {
    width: 151px;
    height: 108px;
    object-fit: contain;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__price {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__btn {
    width: 126px;
    height: 42px;

    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    height: 1px;
    margin: 20px 0 4px 0;
    background: var(--new-card_border-color);
  }
}
