@use "../abstracts";

//Filter Button
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 6px 12px;

  height: 36px;

  color: var(--filter-btn-color);

  border-radius: 6px;
  background: var(--filter-btn-bg);

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}

//Like button
.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: var(--like-btn-bg);
  box-shadow: 0 20px 60px var(--like-btn-shadow);

  &:not(&--liked) .like-btn__icon--liked {
    display: none;
  }

  &--liked .like-btn__icon {
    display: none;
  }

  &__icon--liked {
    margin-top: 6px;
  }
}

// Buttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  transition: opacity 0.5s, box-shadow 0.5s;

  background: #f8f8fb;

  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
  white-space: nowrap;

  + .btn {
    &:not(.btn--no-margin) {
      margin-left: 20px;
    }
  }

  &--small {
    height: 40px;
  }

  &--text {
    background: transparent;
    font-weight: 400;
  }

  &--primary {
    background: #ffb700;
  }

  &--outline {
    background: transparent;
    border: 1px solid #d2d1d6;
  }

  &--rounded {
    border-radius: 99px;
  }

  &[disabled],
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--danger {
    color: #fff !important;
    background: #ed4337;
  }

  &:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    opacity: 0.9;
  }
}
