@use "../abstracts";

.form {
  &:has(:invalid) .form__submit-btn {
    opacity: 0.5;
    pointer-events: none !important;
  }

  &__group {
    margin-top: 30px;

    &--inline {
      display: flex;
      align-items: center;
    }

    @include abstracts.screen(md) {
      margin-top: 20px;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: #ed4337;
      background: rgba($color: #ed4337, $alpha: 0.1);
    }

    .form__error-icon {
      display: inline-flex;
    }

    .form__error {
      display: block;
    }

    .form__input-icon {
      display: none;
    }
  }

  &__error-icon,
  &__error {
    display: none;
  }

  &__error-icon {
    animation: shake 0.4s;
  }

  &__text-input {
    height: 50px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid var(--text-input-border-color);

    &:focus-within {
      border-color: #77dae6;
    }

    @include abstracts.screen(md) {
      height: 48px;
    }
  }

  &__input {
    flex: 1;
    height: 100%;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    &::placeholder {
      color: var(--form-placeholder-color);
    }

    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }

  &__error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
    color: #ed4337;
  }

  &__input-icon,
  &__error-icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
  }

  &__pull-right {
    margin-left: auto;
  }

  &__checkbox {
    display: flex;
    align-items: center;

    &-label {
      user-select: none;
      margin-left: 29px;
      position: relative;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      color: var(--auth-desc-color);
      &::before,
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        bottom: 0;
        left: -29px;
      }

      &::before {
        width: 19px;
        height: 19px;
        border-radius: 5px;
        border: 2px solid #9e9da8;
      }

      @include abstracts.screen(md) {
        font-size: 1.4rem;
      }
    }
  }

  &__checkbox:has(:checked) {
    .form__checkbox-label::before {
      border-color: #77dae6;
      background-color: #77dae6;
    }

    .form__checkbox-label::after {
      left: -26px;
      bottom: 8px;
      width: 12px;
      height: 7px;
      border: 2px solid white;
      rotate: -45deg;
      border-color: transparent transparent #fff #fff;
    }
  }
}
