@use "../abstracts";

.payment-card {
  position: relative;

  margin-top: 16px;
  padding: 20px 20px 0 20px;
  height: 100%;

  color: #fff;
  border-radius: 10px;
  background: var(--bg-color);

  overflow: hidden;
  user-select: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__type {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__number {
    position: relative;
    z-index: 1;
    margin-top: 37px;
    font-feature-settings: "liga" off, "clig" off;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 175%;
  }

  &__value {
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__circle {
    position: relative;
    margin-left: auto;
    padding: 0 20px 20px 0;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    &::before {
      background: #f94545;
      z-index: 1;
      mix-blend-mode: hard-light;
      right: 10px;
    }

    &::after {
      background: #ffb700;
      left: 0;
    }
  }
}

.new-card {
  margin-top: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border-radius: 10px;
  border: 1px dashed var(--new-card_border-color);
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: rgba(232, 223, 223, 0.4) 0px 2px 4px,
      rgba(222, 202, 202, 0.3) 0px 7px 13px -3px,
      rgba(231, 222, 222, 0.2) 0px -3px 0px inset;
    box-shadow: var(--new-card-shadow);
  }

  &__text {
    color: var(--new-card_border-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
  }

  &__icon {
    filter: var(--new-card-icon);
  }
}
