<div class="container">
  <div class="footer__row">
    <!-- Footer Column 1 -->
    <div class="footer__col footer__col-1">
      <div class="footer__logo-box">
        <!-- Logo  -->
        <a href="/" class="logo footer__logo">
          <img
            src="./assets/icon/logo.svg"
            alt="Grocery Mart"
            class="logo__img"
          />
          <p class="logo__title">grocerymart</p>
        </a>
      </div>

      <p class="footer__desc">
        Our online grocery store offers convenience, fast delivery, and
        affordable prices, saving your time and money every day.
      </p>

      <p class="footer__help-text">Receive product news and updates.</p>
      <form action="" class="footer__form">
        <input
          type="text"
          name=""
          placeholder="Email Address"
          id=""
          class="footer__input"
        />

        <button class="btn btn--primary">SEND</button>
      </form>
    </div>

    <!-- Footer Column 2 -->
    <div class="footer__col footer__col-2">
      <h3 class="footer__heading">Sport</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">All Departments</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Fashion Deals</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Beauty Bargains</a>
        </li>
        <li>
          <a href="#!" class="footer__link"> Outdoor Deals</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Bakery & Bread</a>
        </li>
      </ul>
    </div>

    <!-- Footer Column 3 -->
    <div class="footer__col footer__col-3">
      <h3 class="footer__heading">Support</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Store Locator</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Order Status</a>
        </li>
      </ul>
    </div>

    <!-- Footer Column 4 -->
    <div class="footer__col footer__col-4">
      <h3 class="footer__heading">Company</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Terms of use</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Privacy</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Careers</a>
        </li>
        <li>
          <a href="#!" class="footer__link">About</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Affiliates</a>
        </li>
        <!-- <li>
                <a href="#!" class="footer__link">Recall Info</a>
              </li> -->
      </ul>
    </div>

    <!-- Footer Column 5 -->
    <div class="footer__col footer__col-5">
      <h3 class="footer__heading">Contact</h3>
      <ul class="footer__list">
        <li>
          <p class="footer__label">Email</p>
          <a href="mailto:contact@grocerymart.com" class="footer__link"
            >contact@grocerymart.com</a
          >
        </li>
        <li>
          <p class="footer__label">Telephone</p>
          <a href="tel:855-909-8267" class="footer__link">855-909-8267</a>
        </li>
        <li>
          <p class="footer__label">Address</p>
          <p class="footer__text">
            Number 1, Alley 41, Tran Duy Hung, Cau Giay, Hanoi
          </p>
        </li>
        <li>
          <p class="footer__label">Hour</p>
          <p class="footer__text">M - F 6:00am - 8:00pm PST</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="footer__copyright">
      © 2010 - 2025 Grocery Mart . All right reversed.
    </p>

    <div class="footer__socials">
      <a href="#!" class="footer__social-link footer__social-link--facebook">
        <img
          src="./assets/icon/facebook.svg"
          alt=""
          class="footer__social-icon footer__social-icon--facebook"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--youtube">
        <img
          src="./assets/icon/youtube.svg"
          alt=""
          class="footer__social-icon footer__social-icon--youtube"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--tiktok">
        <img
          src="./assets/icon/tiktok.svg"
          alt=""
          class="footer__social-icon footer__social-icon--tiktok"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--twitter">
        <img
          src="./assets/icon/twitter.svg"
          alt=""
          class="footer__social-icon footer__social-icon--twitter"
        />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--linkedin">
        <img
          src="./assets/icon/linkedin.svg"
          alt=""
          class="footer__social-icon footer__social-icon--linkedin"
        />
      </a>
    </div>
  </div>
</div>
